
#profile-img {
	display: none;
}

.pure-g {
	letter-spacing: 100% !important;
}

.pure-u-1-2 {
	padding-right: 2em;
}

@media (min-width: 48em) {
  #profile-img {
  	display: block;
    width: 70%;
	border-radius: 50%;
  }
}

#license {
	font-size: 0.8rem;
}

.post {
	border-bottom: 1px solid #ccc;
	margin-bottom: 6em;
}

.fa.fa-krw {
	font-size: 240%;
}